.pagination-custom {
background-color: white;
border: 1px solid #d9d9d9;
border-radius: 4px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
padding: 8px;
}

.pagination-custom .ant-pagination-item {
min-width: 32px; /* Mendatory item min-width */
}

.pagination-custom .ant-pagination-item-ellipsis {
font-size: 14px;
}

@media only screen and (max-width: 600px) {
.pagination-custom {
    font-size: 12px;
    padding: 4px;
    margin: 0 8px;
}

.pagination-custom .ant-pagination-item {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
}

.pagination-custom .ant-pagination-item a {
    padding: 0 4px;
}

.pagination-custom .ant-pagination-item-ellipsis {
    font-size: 12px;
}
}
